@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.loader {
  border-top-color: #0f1010;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
